body {
	background-color: #000000;
	text-align: center;
}

h2 {
	color: cyan;
	font-family: Arial, sans-serif;
}

p {
	color: cyan;
	padding: 50px;
	font-family: Arial, sans-serif;
}

h1 {
	color: cyan;
	font-family: Arial, sans-serif;
}

div {
	background: #1C1C1C;
	padding: 100px;
	border-radius: 50px;
	box-shadow: 10px 10px 10px gray;
}

h3 {
	color: cyan;
	font-family: Arial, sans-serif;
}

button {
	background-color: green;
	padding: 10px 20px;
	font-size: 30px;
	color: white;
	font-family: Arial, sans-serif;
	border-radius: 50px;
}

button:hover {
	background-color: #005F00;
	padding: 20px 30px;
	transition: all 0.5s ease;
}

a {
	color: white;
	font-family: Arial, sans-serif;
	background: green;
	padding: 25px;
	font-size: 20px;
	border-radius: 50px;
}

a:hover {
	background: #009A00;
	padding: 30px;
	font-size: 25px;
	transition: all 0.5s ease;
}

header {
	text-align: left;
}

footer {
	text-align: right;
}

img {
	width: 300px;
	height: auto;
	border-radius: 50px;
}

img:hover {
	width: 400px;
	height: auto;
	transition: all 0.5s ease;
}
