body {
	background-color: #000000;
	text-align: center;
}

h2 {
	color: cyan;
	font-family: Arial, sans-serif;
}

p {
	color: cyan;
	padding: 50px;
	font-family: Arial, sans-serif;
}

h1 {
	color: cyan;
	font-family: Arial, sans-serif;
}

div {
	background: #1C1C1C;
	border-radius: 50px;
}

h3 {
	color: cyan;
	font-family: Arial, sans-serif;
}

button {
	background-color: green;
	padding: 10px 20px;
	font-size: 30px;
	color: white;
	font-family: Arial, sans-serif;
}

button:hover {
	background-color: #005F00;
}

a {
	color: #00FF00;
	font-family: Arial, sans-serif;
}

a:hover {
	color: #009A00;
}

header {
	text-align: left;
}

footer {
	text-align: right;
}
